services:
  app:
    image: note-the-movie:latest
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    dns:
      - 8.8.8.8
      - 1.1.1.1
    environment:
      DB_URL: "jdbc:postgresql://postgres:5432/notethemovie"
      DB_USERNAME: "postgres"
      DB_PASSWORD: "password"
      TMDB_API_KEY: ${TMDB_API_KEY}
      VITE_TMDB_API_KEY: ${VITE_TMDB_API_KEY}
      NOTETHEMOVIE_JWT_SECRET: ${NOTETHEMOVIE_JWT_SECRET}
      JAVA_OPTS: "-Xms128m -Xmx512m"
    depends_on:
      - postgres
    restart: unless-stopped

  postgres:
    image: postgres:15
    dns:
      - 8.8.8.8
      - 1.1.1.1
    environment:
      POSTGRES_DB: notethemovie
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped

volumes:
  postgres_data:
